{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads tools</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!--{% url 'home' as url %}-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page"-->
                <!--href="{% url 'home' %}">home</a>-->
                <!--</li>-->
                {% url 'get_accuracy_chart' as url %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page"
                       href="{% url 'get_accuracy_chart' %}">wykres trafności</a>
                </li>

                {% url 'upload_file' as url %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page"
                       href="{% url 'upload_file' %}">macros generator</a>
                </li>


                <!--{% url 'account_scraper' as url %}-->
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page"-->
                <!--       href="{% url 'account_scraper' %}">account scraper</a>-->
                <!--</li>-->

                <!--{% url 'planer_scraper' as url %}-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page"-->
                <!--href="{% url 'planer_scraper' %}">planer scraper</a>-->
                <!--</li>-->

                <!--{% url 'ids_scraper' as url %}-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page"-->
                <!--href="{% url 'ids_scraper' %}">ids scraper</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">admin</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex justify-content-center mt-5">
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
</div>
</body>
</html>