{% extends 'base_app.html' %}

{% block body_block %}
    <div>
        <table class="table">
            <tr>

            {% for range in data.2.1 %}
                <th>{{ range }}</th>
            {% endfor %}
            </tr>
            {% for period in data.2.0 %}
                <tr>
                    {% for dt in period %}
                        <td>{{ dt }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div style="width: 800px; height: 800px">
        <canvas id="myChart" width="800" height="400"></canvas>
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ data.0|safe }},
                    datasets: [{
                        label: 'trafność',
                        data: {{ data.1 }},
                        borderColor: '#ff0000'

                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: '{{ username }}',
                            font: {
                                size: 24
                            }
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    },

                },
            });
        </script>
    </div>





{% endblock %}