{% extends 'base_app.html' %}
{% load crispy_forms_filters %}
{% block body_block %}

    <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|crispy }}
        <br/>
        <input class="btn btn-dark" type="submit" value="submit">


    </form>

    <br/>
    <br/>
    <br/>
    <br/>
    <a href="https://chrome.google.com/webstore/detail/uivision-rpa/gcbalfbdmfieckjlnblleoemohcganoc?hl=en">
        UI Vision RPA Chrome Extension
    </a>





{% endblock %}